<style>
html {
		font-size: 100%;
		box-sizing:border-box;
	}

h1 {
	font-size:100%;
	text-align: Center;
	

body {
  font-family: Aria, Helvetica, san-serif;
}

p {
	font-style: normal;
}
	
</style> 
